body {
    background-color: black;
    color: white;
    border-radius: 25px;
    font-family: 'Tilt Neon', sans-serif;
}
button{

    font-family: 'Tilt Neon', sans-serif;
    height: 50px;
    font-size: x-large;
    border-radius: 25px;
    font-weight: bolder;
}